h1 {
    text-align: center;
    background-color: darkslategrey;
    color: white;
    font-weight: bolder;
}

h5 {
    display: inline-block;
}

.weather {
    display: none;
}

.current {
    border: 1px solid grey;
    margin-left: 5px;
}

.day {
    border: 1px solid black;
    background-color: blue;
}

#search {
    border: dimgrey solid 2px;
    display: inline;
}

#currentCity {
    display: inline;
    font-size: 40px;
}

.forecast {
    float: left;
    font-size: 30px;
    margin-left: 5px;;
}

.container {
    background-color: cadetblue;;
}

.divcontainer {
    background: royalblue;
    background-clip: padding-box;
    width: 195px;
    border-radius: 10px;
    padding-left: 10px;
}

#currentUV, #UVIndex {
    display: inline;
}

.UVlow {
    background: green;
    background-clip: padding-box;
}

.UVmod {
    background: lightsalmon;
    background-clip: padding-box;
}

.UVhigh {
    background: darkorange;
    background-clip: padding-box;
}

.UVvhigh {
    background: purple;
    background-clip: padding-box;
}

.UVext {
    background: darkred;
    background-clip: padding-box;
}

.btnHistory {
    display: block;
    width: 290px;
    text-align: left;
    margin: 0;
}